.salary-form {
  margin: 0px auto 20px auto;
  background: #fff;
  padding: 30px;
  border-radius: 8px;

  .form-group {
    margin-bottom: 10px;

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -1%;

      span {
        color: red;
      }
    }

    input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      padding: 10px;
      // border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      background: #F3F3F3;
      height: 40px;
    }

    input:disabled {
      background: #f1f1f1;
      cursor: not-allowed;
    }
  }

  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .form-group {
      .checkBox {
        display: flex !important;
        align-items: center;
        justify-content: start;
        gap: 5px;
        width: 100%;
        text-align: start;
      }
    }
  }

  .configurations {
    border-top: 1px solid grey;
    padding-top: 20px;
    margin-top: 30px;
    gap: 10px;

    h3 {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -1%;
    }

    .itemCheck {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .left,
      .right {
        .checkbox-container {
          margin: 10px 0;
        }
      }
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .checkbox-container_2 {
      h4 {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -3%;
        color: #000000 !important;
      }

      .left_radio2 {

        opacity: 0.7;
      }

      .left_radio {
        margin-left: 25px;
        opacity: 0.7;

      }

      .checkbox_label {
        display: flex;
        gap: 5px;
        margin-top: 6px;
      }

      .label_p {
        margin-left: 26px;
        font-weight: 300;
        margin-top: 5px;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -3%;
      }
    }

  }

  .note {
    background: #ffe6e6;
    // color: #cc0000;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
    }

    .save-btn {
      background: #007bff;
      color: #fff;
    }

    .cancel-btn {
      background: #f1f1f1;
      color: #333;

      &:hover {
        background: #ddd;
      }
    }
  }
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  appearance: none; // default style hatane ke liye
  border: 2px solid #6c4aa5; // purple border
  border-radius: 4px;
  background: #fff;
  transition: 0.3s;
  cursor: pointer;

  &:checked {
    background: #6c4aa5; // purple color when checked
    border: none;

    &::after {
      content: "✔";
      color: #fff;
      font-size: 13px;
      display: block;
      text-align: center;
      line-height: 18px;
    }
  }

  &:disabled {
    // background: #b3b3b332; // grey color when disabled
    // border: none;
    // cursor: not-allowed;
    opacity: 0.4;
    cursor: not-allowed;
    // &::after {
    //   content: "✔";
    //   color: #fff;
    //   opacity: 0.6;
    // }
  }
}


input[type="radio"] {
  width: 18px;
  height: 18px;
  appearance: none;
  /* default style hatane ke liye */
  border: 2px solid #6c4aa5;
  /* purple border */
  border-radius: 50%;
  /* circle shape */
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:checked {
    background: #fff;
    /* purple color when checked */
    // border: none;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background: #6c4aa5;
      /* white inner dot */
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:disabled {
    // background: #b3b3b3;
    opacity: 0.4;
    /* grey color when disabled */
    // border: 1px solid rgb(67, 67, 67);
    cursor: not-allowed;

    // &::after {
    //   content: "";
    //   width: 5px;
    //   height: 5px;
    //   background: #fff;
    //   opacity: 0.6;
    //   /* dimmed effect */
    //   border-radius: 50%;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
  }
}